services:
  - type: web
    name: my-flask-app
    env: python
    plan: free
    buildCommand: |
      apt-get update && apt-get install -y gfortran
      pip install --upgrade pip setuptools wheel
      pip install --prefer-binary -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
